@import '~css/variables.styl'

.container
  height 50px
  display flex
  justify-content flex-start
  align-items center

  > span:last-child
    font-weight 600
    font-size 42px
    font-family $blogFont
    margin-left 20px