$blueDark = #1e5281
$blueSemiDark = #2870b2
$blue = #6197c6
$blueSemiLight = #afcef3
$blueLight = #e7f0f7

$greenDark = #557c23
$greenSemiDark = #6f9e32
$green = #8cc152
$greenSemiLight = #afd485
$greenLight = #dcecc9

$yellowDark = #b98b1f
$yellowSemiDark = #ffc107
$yellow = #fed057
$yellowSemiLight = #fee194
$yellowLight = #fff2d2

$redDark = #b63f43
$redSemiDark = #f9575b
$red = #fb8486
$redSemiLight = #fbb0b3
$redLight = #fcdfdf

$grayDark = #496072
$graySemiDark = #95a3b7
$gray = #c5d0e1
$graySemiLight = #e5edf4
$grayLight = #f4f5f8

$blackDark = #2c3848
$blackSemiDark = #314056
$black = #3b495e
$blackSemiLight = #4f5c6f
$blackLight = #646f80

$baseFont = ProximaNova, sans-serif
