@import "~css/variables.styl"

.container
  position relative
  width 25px
  height 25px
  display flex
  justify-content flex-start
  align-items center
  > label
    font-size 7px
    display flex
    height 15px
    width 15px
    border-radius 15px
    justify-content center
    align-items center
    background-color $redDark
    color $white
    position absolute
    top 0
    right 0
