@import "~css/variables.styl"

.container
  padding-left 10px
  height 40px
  cursor pointer
  display flex
  align-items center
  justify-content flex-start

  &:hover
    background-color $graySemiLight

  > span
    color $black
    font-size 14px
    margin-left 10px

  > img
    height 24px
    width 24px
