@import "~css/variables.styl"

.container
  width 140px
  height 40px
  cursor pointer
  display flex
  align-items center
  padding-left 10px

  &:hover
    background-color $graySemiLight

  > span
    font-size 14px
    color $black
