@import "~css/variables.styl"

.container
  width 460px
  height 260px
  padding 20px
  border-radius 2px
  box-shadow 0 1px 2px 2px rgba(59, 73, 94, 0.3)
  position relative

.title
  width 100%
  display flex
  justify-content space-between
  > span
    font-family $blogFont
    font-size 22px
    font-weight 600
    cursor pointer
    width 90%
    display block

.body
  > span
    font-family $blogFont
    font-size 16px
    color $blackLight

.footer
  position absolute
  bottom 20px
  display flex
  justify-content space-between
  align-items center
  width 100%

.author
  display: flex
  flex-direction column

  > span
    font-family $blogFont
    font-size 16px
  > span:nth-child(1)
    color $blackDark
  > span:nth-child(2)
    color $blackLight

.score
  display flex
  justify-content space-between
  align-self flex-end
  position relative
  right 40px
