@import '~css/variables.styl'

.container
  height 80px
  display flex
  justify-content center
  align-items flex-start
  flex-direction column

  > span 
    font-family $blogFont
    font-size 16px

  > span:nth-child(1)
    color $blackDark

  > span:nth-child(2)  
    color $blackLight