@import "~css/variables.styl"

.container
  position fixed
  top 0
  width 100%
  background $white
  height $headerHeight
  border-bottom 1px solid $gray
  display flex
  align-items center
  justify-content center

  > span
    font-weight 600
    font-size 24px
    text-transform uppercase
